@font-face {
	font-family: 'MonaSans';
	src: url('/fonts/MonaSans-Regular.ttf') format('truetype');
	font-weight: 400;
  }

  @font-face {
	font-family: 'MonaSans';
	src: url('/fonts/MonaSans-Light.ttf') format('truetype');
	font-weight: 300;
  }
  @font-face {
	font-family: 'MonaSans';
	src: url('/fonts/MonaSans-Medium.ttf') format('truetype');
	font-weight: 500;
  }

  @font-face {
	font-family: 'MonaSans';
	src: url('/fonts/MonaSans-SemiBold.ttf') format('truetype');
	font-weight: 600;
  }

  @font-face {
	font-family: 'MonaSans';
	src: url('/fonts/MonaSans-Bold.ttf') format('truetype');
	font-weight: 700;
  }

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
#closed-captions p {
	/* margin: auto; */

	left: 50%;
	transform: translateX(-50%);

	opacity: 0;
	transition: .05s;
	position: absolute;

}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

p {
	padding: 0.5em;
	text-align: center;
	font: 1.6em sans-serif;
	margin: auto;

	font-family: 'MonaSans', sans-serif;
}

.voice1 {
	background-color: black;
	color: white;
	/* font-style: italic; */
}

.voice2 {
	font-weight: bold;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0.5;
	font-family: sans-serif;
}

.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 400;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	/* margin-right: -.25em; */
	font-weight: 600;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	/* margin-right: -.25em; */
	font-weight: 600;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	/* margin-right: -.25em; */
	font-weight: 600;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	font-weight: 400;
	/* margin-right: -.25em; */
	/* font-family: "brenner sans"; */
}

.voice2 {
	background: blue;
	color: white;
	font-weight: 400;
}

.voice4 {
	background: blueviolet;
	color: white;

	opacity: .5;
}

/* we think its time to stop */
.p2 span {
	opacity: 0.5;
}

.p2 span:nth-of-type(1), .p2 span:nth-of-type(2), .p2 span:nth-of-type(3), .p2 span:nth-of-type(4), .p2 span:nth-of-type(5) {
	opacity: 1;

}

/* TO STOP */
.p2.on span:nth-of-type(6), .p2.on span:nth-of-type(7) {
	/* color: red; */
	font-weight: 600;
	opacity: 1;

	transition: 0s 1.2s;

}

/* Sweatheart, the coroner finally released her body */
.voice3 {
	background-color: red;
	/* color: red; */
}

.p3 span {
	opacity: 0.5;
}

.p3.on span:nth-of-type(1), .p3.on span:nth-of-type(2) {
	opacity: 1;
}

.p3.on span:nth-of-type(3), .p3.on span:nth-of-type(4) {

	transition: 0s 1s;
	opacity: 1;

}

.p3.on span:nth-of-type(5), .p3.on span:nth-of-type(6) {
	transition: 0s 1.5s;
	opacity: 1;
}

.p3.on span:nth-of-type(7), .p3.on span:nth-of-type(8), .p3.on span:nth-of-type(9) {
	transition: 0s 2.5s;
	font-weight: 600;
	font-style: italic;
	opacity: 1;
}

.p4.on span:nth-of-type(2) {
	/* opacity: .5; */
}

.p15.on span:nth-of-type(2), .p15.on span:nth-of-type(3), .p15.on span:nth-of-type(4) {
	/* opacity: 0.5; */
}

.explain-text {
	margin-top: -2.4em;
	font-size: 1.6em;

}

.piano {
	margin-top: -2.4em;
	color: rgb(99, 123, 255);
	offset: 2px white solid;
	font-weight: 500;
	transition: 1s;

	text-shadow: 0px 0px .1em black;

}

/* .p4.on~#video-mask {
	box-shadow: 0em 0em 8em rgb(33, 0, 179);
} */

/* .p1.on {
	background: blue;
	color: white;
}

.p2.on {
	background: blue;
	color: white;
} */

/* **********************************************
Sounds.
	You can style the whole body, or you can 
	style anything within the body the moment
	a sound starts.
*********************************************  */

/* The moment the class .sound1 is added to the body, the background is yellow */
.sound1 {
	transition: 1s ease;
	background: #1e1e1e;
	color: white;
}



/* PIANO KEYFRAMES 🎹 */

@keyframes soundPulse {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse2 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse3 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse4 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse5 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse6 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse7 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse8 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse9 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse10 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse11 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse12 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse13 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse14 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse15 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse16 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse17 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse18 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse19 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse20 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse21 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse22 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);

	}
}

@keyframes soundPulse23 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse24 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse25 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse26 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse27 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse28 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse29 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse30 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse31 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse32 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse33 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse34 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse35 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse36 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse37 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse38 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse39 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse40 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse41 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse42 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse43 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse44 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse45 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse46 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse47 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse48 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse49 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse50 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse51 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse52 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse53 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse54 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse55 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse56 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse57 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse58 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse59 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse60 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse61 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse62 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse63 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse64 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse65 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse66 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse67 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse68 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse69 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse70 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse71 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse72 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse73 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse74 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse75 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse76 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse77 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse78 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse79 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse80 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse81 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse82 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse83 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse84 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse85 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse86 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse87 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse88 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse89 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse90 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse91 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse92 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse93 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse94 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse95 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse96 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse97 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse98 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse99 {
	0% {
		box-shadow: 0em 0em 16em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse100 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse101 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse102 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse103 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse104 {
	0% {
		box-shadow: 0em 0em 32em rgb(0, 81, 255);
	}

	100% {
		box-shadow: 0em 0em 8em rgb(0, 81, 255);
	}
}

@keyframes soundPulse105 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse106 {
	0% { box-shadow: 0em 0em 64em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse107 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse108 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse109 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}


@keyframes soundPulse110 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse111 {
	0% { box-shadow: 0em 0em 64em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse112 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}


@keyframes soundPulse113 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse114 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse115 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse116 {
	0% { box-shadow: 0em 0em 32em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse117 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse118 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

@keyframes soundPulse119 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}


@keyframes soundPulse120 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}


@keyframes soundPulse121 {
	0% { box-shadow: 0em 0em 16em rgb(0, 81, 255); }
	100% { box-shadow: 0em 0em 8em rgb(0, 81, 255); }
}

/* The moment the class .sound1 is added to the body, the movie makes a turn */
.sound1 #video-mask {
	box-shadow: 0em 0em 8em rgb(255, 255, 255);
}

.sound2 #video-mask {
	box-shadow: 0em 0em 8em rgb(0, 81, 255);
}

.sound3 #video-mask {
	animation: soundPulse 1s;
}

.sound4 #video-mask {
	animation: soundPulse2 1s;

}

.sound5 #video-mask {

	animation: soundPulse3 1s;
}

.sound6 #video-mask {

	animation: soundPulse4 1s;
}

.sound7 #video-mask {

	animation: soundPulse5 1s;
}

.sound8 #video-mask {

	animation: soundPulse6 1s;
}

.sound9 #video-mask {

	animation: soundPulse7 1s;
}

.sound10 #video-mask {

	animation: soundPulse8 1s;
}

.sound11 #video-mask {

	animation: soundPulse9 1s;
}

.sound12 #video-mask {

	animation: soundPulse10 1s;
}

.sound13 #video-mask {

	animation: soundPulse11 1s;
}

.sound14 #video-mask {

	animation: soundPulse12 1s;
}

.sound15 #video-mask {

	animation: soundPulse13 1s;
}

.sound16 #video-mask {

	animation: soundPulse14 1s;
}

.sound17 #video-mask {

	animation: soundPulse15 1s;
}

.sound18 #video-mask {

	animation: soundPulse16 1s;
}

.sound19 #video-mask {

	animation: soundPulse17 1s;
}

.sound20 #video-mask {

	animation: soundPulse18 1s;
}

.sound21 #video-mask {

	animation: soundPulse19 1s;
}

.sound22 #video-mask {

	animation: soundPulse20 1s;
}

.sound23 #video-mask {

	animation: soundPulse21 1s;
}

.sound24 #video-mask {

	animation: soundPulse22 1s;
}

.sound25 #video-mask {

	animation: soundPulse23 1s;
}

.sound26 #video-mask {

	animation: soundPulse24 1s;
}

.sound27 #video-mask {
	animation: soundPulse25 1s;
}

.sound28 #video-mask {
	animation: soundPulse26 1s;
}

.sound29 #video-mask {
	animation: soundPulse27 1s;
}

.sound30 #video-mask {
	animation: soundPulse28 1s;
}

.sound31 #video-mask {
	animation: soundPulse29 1s;
}

.sound32 #video-mask {
	animation: soundPulse30 1s;
}

.sound33 #video-mask {
	animation: soundPulse31 1s;
}

.sound34 #video-mask {
	animation: soundPulse32 1s;
}

.sound35 #video-mask {
	animation: soundPulse33 1s;
}

.sound36 #video-mask {
	animation: soundPulse34 1s;
}

.sound37 #video-mask {
	animation: soundPulse35 1s;
}

.sound38 #video-mask {
	animation: soundPulse36 1s;
}

.sound39 #video-mask {
	animation: soundPulse37 1s;
}

.sound40 #video-mask {
	animation: soundPulse38 1s;
}

.sound41 #video-mask {
	animation: soundPulse39 1s;
}

.sound42 #video-mask {
	animation: soundPulse40 1s;
}

.sound43 #video-mask {
	animation: soundPulse41 1s;
}


.sound44 #video-mask {
	animation: soundPulse42 1s;
}

.sound45 #video-mask {
	animation: soundPulse43 1s;
}

.sound46 #video-mask {
	animation: soundPulse44 1s;
}

.sound47 #video-mask {
	animation: soundPulse45 1s;
}

.sound48 #video-mask {
	animation: soundPulse46 1s;
}

.sound49 #video-mask {
	animation: soundPulse47 1s;
}

.sound50 #video-mask {
	animation: soundPulse48 1s;
}

.sound51 #video-mask {
	animation: soundPulse49 1s;
}

.sound52 #video-mask {
	animation: soundPulse50 1s;
}

.sound53 #video-mask {
	animation: soundPulse51 1s;
}
.sound54 #video-mask {
	animation: soundPulse52 1s;
}
.sound55 #video-mask {
	animation: soundPulse53 1s;
}
.sound56 #video-mask {
	animation: soundPulse54 1s;
}
.sound57 #video-mask {
	animation: soundPulse55 1s;
}
.sound58 #video-mask {
	animation: soundPulse56 1s;
}
.sound59 #video-mask {
	animation: soundPulse57 1s;
}
.sound60 #video-mask {
	animation: soundPulse58 1s;
}
.sound61 #video-mask {
	animation: soundPulse59 1s;
}
.sound62 #video-mask {
	animation: soundPulse60 1s;
}
.sound63 #video-mask {
	animation: soundPulse61 1s;
}
.sound64 #video-mask {
	animation: soundPulse62 1s;
}
.sound65 #video-mask {
	animation: soundPulse63 1s;
}
.sound66 #video-mask {
	animation: soundPulse64 1s;
}
.sound67 #video-mask {
	animation: soundPulse65 1s;
}
.sound68 #video-mask {
	animation: soundPulse66 1s;
}
.sound69 #video-mask {
	animation: soundPulse67 1s;
}
.sound70 #video-mask {
	animation: soundPulse68 1s;
}
.sound71 #video-mask {
	animation: soundPulse69 1s;
}
.sound72 #video-mask {
	animation: soundPulse70 1s;
}
.sound73 #video-mask {
	animation: soundPulse71 1s;
}
.sound74 #video-mask {
	animation: soundPulse72 1s;
}
.sound75 #video-mask {
	animation: soundPulse73 1s;
}
.sound76 #video-mask {
	animation: soundPulse74 1s;
}
.sound77 #video-mask {
	animation: soundPulse75 1s;
}
.sound78 #video-mask {
	animation: soundPulse76 1s;
}
.sound79 #video-mask {
	animation: soundPulse77 1s;
}
.sound80 #video-mask {
	animation: soundPulse78 1s;
}
.sound81 #video-mask {
	animation: soundPulse79 1s;
}
.sound82 #video-mask {
	animation: soundPulse80 1s;
}
.sound83 #video-mask {
	animation: soundPulse81 1s;
}
.sound84 #video-mask {
	animation: soundPulse82 1s;
}
.sound85 #video-mask {
	animation: soundPulse83 1s;
}
.sound86 #video-mask {
	animation: soundPulse84 1s;
}
.sound87 #video-mask {
	animation: soundPulse85 1s;
}
.sound88 #video-mask {
	animation: soundPulse86 1s;
}
.sound89 #video-mask {
	animation: soundPulse87 1s;
}
.sound90 #video-mask {
	animation: soundPulse88 1s;
}
.sound91 #video-mask {
	animation: soundPulse89 1s;
}
.sound92 #video-mask {
	animation: soundPulse90 1s;
}
.sound93 #video-mask {
	animation: soundPulse91 1s;
}
.sound94 #video-mask {
	animation: soundPulse92 1s;
}
.sound95 #video-mask {
	animation: soundPulse93 1s;
}
.sound96 #video-mask {
	animation: soundPulse94 1s;
}

.sound97 #video-mask {
	animation: soundPulse95 1s;
}

.sound98 #video-mask {
	animation: soundPulse96 1s;
}

.sound99 #video-mask {
	animation: soundPulse97 1s;
}

.sound100 #video-mask {
	animation: soundPulse98 1s;
}

.sound101 #video-mask {
	animation: soundPulse99 1s;
}

.sound102 #video-mask {
	animation: soundPulse100 1s;
}

.sound103 #video-mask {
	animation: soundPulse101 1s;
}

.sound104 #video-mask {
	animation: soundPulse102 1s;
}

.sound105 #video-mask {
	animation: soundPulse103 1s;
}

.sound106 #video-mask {
	animation: soundPulse104 1s;
}

.sound107 #video-mask {
	animation: soundPulse105 1s;
}

.sound108 #video-mask {
	animation: soundPulse106 1s;
}

.sound109 #video-mask {
	animation: soundPulse107 1s;
}

.sound110 #video-mask {
	animation: soundPulse108 1s;
}

.sound111 #video-mask {
	animation: soundPulse109 1s;
}

.sound112 #video-mask {
	animation: soundPulse110 1s;
}

.sound113 #video-mask {
	animation: soundPulse111 1s;
}

.sound114 #video-mask {
	animation: soundPulse112 1s;
}

.sound115 #video-mask {
	animation: soundPulse113 1s;
}

.sound116 #video-mask {
	animation: soundPulse114 1s;
}

.sound117 #video-mask {
	animation: soundPulse115 1s;
}

.sound118 #video-mask {
	animation: soundPulse116 1s;
}

.sound119 #video-mask {
	animation: soundPulse117 1s;
}

.sound120 #video-mask {
	animation: soundPulse118 1s;
}

.sound121 #video-mask {
	animation: soundPulse119 1s;
}

.sound122 #video-mask {
	animation: soundPulse120 1s;
}

.sound123 #video-mask {
	animation: soundPulse121 1s;
}

/* **********************************************
Basic layout.
	Place the video in the center of the page.
*********************************************  */

body {
	display: grid;
	height: 100vh;
	margin: 0;
	justify-content: center;
}

#video-container {
	margin: auto;
}

#video-mask {
	aspect-ratio: 240.5/100;
	display: grid;
	overflow: hidden;
	align-content: center;
	transition: 1s;
}

iframe {
	width: 80vw;
	height: 53.33333333vw;
	margin-top: -0.35vw;
}